<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.complete.convo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/undraw_ideas_s70l"
        android:label="@string/app_name"
        android:roundIcon="@drawable/undraw_ideas_s70l"
        android:supportsRtl="true"
        android:theme="@style/Theme.Convo">
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="true"
            android:parentActivityName=".actvities.MainActivity"/>
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="true"
            android:parentActivityName=".actvities.MainActivity"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/undraw_ideas_s70l"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".activities.ContactUs"
            android:exported="true"
            android:parentActivityName=".actvities.MainActivity"
            android:theme="@style/Theme.Convo" />
        <activity
            android:name=".activities.PhoneNewUser"
            android:exported="true"
            android:theme="@style/Theme.Convo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AllUsers"
            android:exported="true"
            android:theme="@style/Theme.Convo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PhoneAuthenticationActivity"
            android:exported="true"
            android:theme="@style/Theme.Convo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="true"
            android:parentActivityName=".actvities.MainActivity"
            android:theme="@style/Theme.Convo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.Convo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Convo"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Convo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actvities.MainActivity"
            android:exported="true" />
    </application>

</manifest>